.header {
    text-align: center;
    color:rgb(169, 181, 5);
}

.recipe {
    color:rgb(21, 70, 8);
    font-size: 20px;
}

a:link {
    color: rgb(227, 148, 2);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(164, 40, 61);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

* {
    background-color: rgb(46, 90, 66);
}

